<div ng-controller="bbkCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Bukti Barang Keluar</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-warning fa fa-print" ng-show="user.id == 1" ng-click="bukaPrint(gantiStatus)">&nbsp;Buka Print Out</button>
                    <button type="button" class="btn btn-success fa fa-check"  ng-click="modal()">&nbsp;Pengecualian BBK</button>
                    <button type="button" class="btn btn-info fa fa-copy" ng-click="copy();">&nbsp;Salin BBK</button>
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3">No. BBK</label>
                            <div class="col-md-9">
                                <input st-search="no_bbk" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">No. Wo</label>
                            <div class="col-md-9">
                                <input class="form-control" st-search="no_wo" type="text"  ng-model="tanggal">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3">Bagian</label>
                            <div class="col-md-9">
                                <input st-search="tj.jabatan" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Penerima</label>
                            <div class="col-md-9">
                                <input st-search="penerima" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th ng-show="user.id == 1">#</th>
                            <th st-sort="no_bbk">No. BBK</th>
                            <th st-sort="tanggal">Tanggal</th>
                            <th st-sort="no_wo">No. Wo</th>
                            <th st-sort="tj.jabatan">Bagian</th>
                            <th st-sort="tb.penerima">Penerima</th>
                            <th st-sort="tb.petugas">Petugas</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td ng-show="user.id == 1">
                                <label class="i-checks" ng-show="row.status == 1">
                                    <input type="checkbox" ng-model="gantiStatus[row.no_bbk]" ><i></i> 
                                </label>
                            </td>
                            <td>{{row.no_bbk}}</td>
                            <td>{{row.tanggal| date}}</td>
                            <td>{{row.no_wo}}</td>
                            <td>{{row.bagian}}</td>
                            <td>{{row.penerima}}</td>
                            <td>{{row.petugas}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)" title="Edit BBK"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);" title="Hapus BBK"></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="8" class="text-center" ng-if="user.id == 1">Loading ... </td>
                            <td colspan="7" class="text-center" ng-if="user.id != 1">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html" ng-if="user.id == 1" colspan="8"></td>
                            <td class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html" ng-if="user.id != 1" colspan="7"></td>
                        </tr>
                </table>		
            </div>
        </div>
    </div>

    <div class="wrapper-md" ng-show="is_edit">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{formtitle}} 
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-success fa fa-check"  ng-click="modal()">&nbsp;Pengecualian BBK</button>
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-show="is_view" ng-click="create();">&nbsp;Tambah Data</button>
                    <button type="button" class="btn btn-info fa fa-print"  ng-show="is_view" ng-print print-element-id="printArea" ng-click="simpanPrint(form.no_bbk)" ng-disabled="is_print == 1 && user.id != 1">&nbsp;Print</button>
                </div>
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation">
                    <div class="col-md-12">
                        <div class="alert alert-danger" ng-show="is_view">
                            <p>Nota Bukti Barang Keluar hanya boleh dicetak 1 kali, silahkan hubungi admin untuk mencetak ulang </p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group" ng-if="is_copy">
                                    <label class="col-sm-3 control-label">Cari BBK</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <ui-select on-select="copyData(form.kode_asli,form.no_bbk)" ng-model="form.kode_asli" ng-disabled="is_view" theme="bootstrap">
                                                <ui-select-match>{{$select.selected.no_bbk}}</ui-select-match>
                                                <ui-select-choices refresh="cariBbk($select.search)" repeat="val in resultBbk">
                                                    {{val.no_bbk}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button ng-click="form.kode_asli = undefined" class="btn btn-default" ng-disabled="is_view">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">No. BBK</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" readonly ng-model="form.no_bbk" ng-disabled="is_view" readonly required placeholder="Nomor BBK">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Tanggal</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-disabled="is_view" ng-model="form.tanggal" is-open="opened1" ng-click="open1($event)" placeholder="Tanggal Barang Keluar"/>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar-o"></i>
                                            </span>
                                        </div> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">No Wo</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <ui-select ng-model="form.no_wo" ng-disabled="is_view" theme="bootstrap" >
                                                <ui-select-match>{{$select.selected.no_wo}}</ui-select-match>
                                                <ui-select-choices refresh="cariWo($select.search)" repeat="val in results">
                                                    {{val.no_wo}}
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                <button ng-click="form.no_wo = undefined" class="btn btn-default" ng-disabled="is_view">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Bagian</label>
                                    <div class="col-sm-9">
                                        <!--<div class="input-group">-->
                                        <ui-select ng-model="form.kd_jab" ng-disabled="is_view" theme="bootstrap" >
                                            <ui-select-match>{{$select.selected.jabatan}}</ui-select-match>
                                            <ui-select-choices refresh="cariJabatan($select.search)" repeat="val in resultsjabatan">
                                                {{val.jabatan}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <!--                                            <span class="input-group-btn">
                                                                                        <button ng-click="form.kd_jab = undefined" class="btn btn-default" ng-disabled="is_view">
                                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                                        </button>
                                                                                    </span>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Penerima</label>
                                    <div class="col-sm-9">
                                        <!--<div class="input-group">-->
                                        <ui-select ng-model="form.penerima" ng-disabled="is_view" theme="bootstrap">
                                            <ui-select-match>{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices refresh="cariKaryawan($select.search)" repeat="val in resultskaryawan">
                                                {{val.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <!--                                            <span class="input-group-btn">
                                                                                        <button ng-click="form.penerima = undefined" class="btn btn-default" ng-disabled="is_view">
                                                                                            <span class="glyphicon glyphicon-trash"></span>
                                                                                        </button>
                                                                                    </span>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Pelaku Gudang</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" readonly ng-model="form.petugas" ng-disabled="is_view" required placeholder="Petugas">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 thumb-wrapper">
                                        <center><h4>Sisa Pengambilan</h4></center>
                                        <center style="margin-top: 10px;"><h1>{{sisa_pengambilan}}</h1></center>
                                    </div>
                                    <div class="col-md-6 col-sm-12 thumb-wrapper">
                                        <center><h4>Stok Sekarang</h4></center>
                                        <center style="margin-top: 10px;"><h1>{{stok_sekarang}}</h1></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel-heading text-muted font-bold">
                                    Detail Barang Keluar
                                </div>
                                <br>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Barang</th>
                                            <th style="width:100px">Jumlah</th>
                                            <th style="width:100px">Satuan</th>
                                            <th style="width:400px">Keterangan</th>
                                            <th width="50" ng-show="is_view != true" style="margin:0px;padding:0px;" >
                                                <button ng-click="addDetail('')" style="width:50px;"  class="btn btn-success" ng-disabled="is_view" title="Tambah Detail"><i class="fa fa-plus"></i></button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="margin:0px;padding:0px;" ng-repeat="detail in detailBbk">
                                            <td style="margin:0px;padding:0px;">
                                                <!--<div class="input-group">-->
                                    <ui-select uiselect-autofocus="open" on-select="detail.satuan = detail.kd_barang.satuan; detailstok(detail.kd_barang.sisa_pengambilan, detail.kd_barang.stok_sekarang)" ng-disabled="is_view" ng-model="detail.kd_barang" theme="bootstrap">
                                        <ui-select-match>{{$select.selected.nm_barang}}</ui-select-match>
                                        <ui-select-choices refresh="listBarang($select.search, form.no_wo, form.kd_jab)" repeat="val in resultsbarang">
                                            {{val.nm_barang}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--                                                    <span class="input-group-btn">
                                                                                            <button ng-click="detail.kd_barang = undefined" class="btn btn-default" ng-disabled="is_view">
                                                                                                <span class="glyphicon glyphicon-trash"></span>
                                                                                            </button>
                                                                                        </span>-->
                                    <!--</div>-->
                                    </td>
                                    <td style="margin:0px;padding:0px;">
                                        <input type="text" ng-disabled="is_view" ng-model="detail.jml" class="form-control"
                                               ng-keyup="
                                               kalkulasi(detail.kd_barang.sisa_pengambilan, detail.kd_barang.stok_sekarang, detail.jml);">
                                    </td>
                                    <td>{{detail.satuan}}</td>
                                    <td style="margin:0px;padding:0px;"><input type="text" ng-disabled="is_view" ng-model="detail.ket" class="form-control" ng-enter="addDetail(detail);" event-focus-id="0"></td>
                                    <td  style="margin:0px;padding:0px;" ng-show="is_view != true">
                                        <button ng-click="removeRow($index)" class="btn btn-danger"  ng-disabled="is_view" style="width:50px;" title="Hapus Detail"><i class="fa fa-trash-o"></i></button>
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="line line-dashed"></div>
                        <div align="center">
                            <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                            <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, detailBbk)">&nbsp;Simpan Perubahan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="printArea" ng-if="is_view">
        <style>
            /*            @page { 
                            size:9cm; 
                            margin: 0cm ;
                            margin-top: 0px;
                            margin-top: 0xm;
                            margin-left: 0cm;
                        }*/
            /*@page { size : portrait }*/
        </style>
        <div style="width: 13cm;" id="kertas_bbk">
            <table width="100%" class="no-border">
                <tr>
                    <td width="50%" id="print_bbk">
                        PT. KARYA TUGAS ANDA <br>
                        Sukorejo - Pasuruan
                    </td>
                    <td valign="top" style="text-align: right;" id="print_bbk">
                        NO. DOC : FR-WHS-004-REV.00
                    </td>
                </tr>
            </table>
            <center id="print_bbk">
                *** BUKTI BARANG KELUAR ***
            </center>
            <table width="100%" class="no-border" style="margin-top: 10px;">
                <tr>
                    <td width="90" id="print_bbk">NO. WO</td>
                    <td width="2" id="print_bbk">:</td>
                    <td id="print_bbk">{{form.no_wo.no_wo}}</td>
                    <td style="width:49%; text-align: right;" rowspan="2" id="print_bbk">{{form.kd_jab.jabatan}}<td>
                </tr>
                <tr>
                    <td id="print_bbk">NO. BBK</td>
                    <td width="2" id="print_bbk">:</td>
                    <td id="print_bbk">{{form.no_bbk}}</td>
                </tr>
            </table>
            <br>
            <table width="100%">
                <thead>
                    <tr>
                        <td class="print_bbk_td" style="border-bottom: 1px #000 solid;border-top: 1px #000 solid;" align="center">&nbsp;No.</td>
                        <td class="print_bbk_td" style="border-bottom: 1px #000 solid;border-top: 1px #000 solid;" align="center">&nbsp; Kode</td>
                        <td class="print_bbk_td" style="border-bottom: 1px #000 solid;border-top: 1px #000 solid;" align="center">&nbsp; Nama Barang</td>
                        <td class="print_bbk_td" style="border-bottom: 1px #000 solid;border-top: 1px #000 solid;" align="center"> &nbsp;Jml</td>
                        <!--<td class="print_bbk_td" style="border-bottom: 1px #000 solid;"> &nbsp;Sat</td>-->
                        <!--<td class="print_bbk_td"> &nbsp;Ket</td>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="detail in detailBbk" >
                        <td class="print_bbk_td" align="center">&nbsp;{{$index + 1}}</td>
                        <td class="print_bbk_td" align="center">&nbsp;{{detail.kd_barang.kd_barang}} &nbsp;</td>
                        <td class="print_bbk_td">&nbsp;{{detail.kd_barang.nm_barang}}</td>
                        <td class="print_bbk_td" align="center">&nbsp;{{detail.jml}} {{detail.satuan}} </td>
                        <!--<td class="print_bbk_td">&nbsp;{{detail.satuan}} &nbsp;</td>-->
                        <!--<td class="print_bbk_td">&nbsp;{{detail.ket}}</td>-->
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top: 1px #000 solid;"></td>
                    </tr>
                </tbody>
            </table>
            <table width="100%" style="margin-bottom: 0px; margin-top: 20px;">
                <tr>
                    <td width="45%"></td>
                    <td width="10%"></td>
                    <td width="45%" align="center" id="print_bbk">Sukorejo, {{tgl_cetak| date}}</td>
                </tr>
                <tr>
                    <td align="center" id="print_bbk">Dikeluarkan Oleh :</td>
                    <td></td>
                    <td align="center" id="print_bbk">Yang Menerima :</td>
                </tr>
                <tr>
                    <td colspan="3"><br><br></td>
                </tr>
                <tr>
                    <td align="center" id="print_bbk">{{form.petugas}}</td>
                    <td></td>
                    <td align="center" id="print_bbk">{{form.penerima.nama}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
