<div ng-app="app" ng-controller="rekapujimutuCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Data Rekap - Pengajuan Uji Mutu</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">.:: Rekap Pengajuan Uji Mutu
                <div class="btn-group pull-right" role="group" style="margin-top: -4px; margin-right: 13px;">
                    <!--<button type="button" class="btn btn-warning fa fa-file-excel-o" ng-show="!isCollapsed" ng-click="excel2();">&nbsp;&nbsp;Laporan Pengujian Uji Mutu</button>-->
                    <!--<button type="button" class="btn btn-success fa fa-file-excel-o" ng-show="!isCollapsed" ng-click="excel();">&nbsp;&nbsp;Laporan  Uji Mutu</button>-->
                    
                    <div class="pull-right dropdown" style="margin-top: -4px" dropdown="">
                        <button type="button" class="btn btn-success" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">Lap. Uji Mutu <span class="caret"></span></button>
                        <ul class="dropdown-menu" style="background-color: #F7F7F7; width: 260px;">
                            <li><a href="#" ng-click="print2()">Cetak</a></li>
                            <li><a href="#" ng-click="excel2()">Export Excel</a></li>
                        </ul>
                    </div>
                </div> 
            </div>

            <div class="panel-body">

                <div class="panel panel-info" style="text-align: center">
                    <div class="panel-heading">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <div class="control-group">
                                    <label class="col-sm-2 control-label">Periode</label>
                                    <div class="col-sm-3">
                                        <input placeholder="Tanggal Periode" date-range-picker class="form-control" st-search="tgl_periode" type="text"  ng-model="tanggal">
                                    </div>
                                    <label class="col-sm-2 control-label">No WO</label>
                                <div class="col-sm-3">
                                    <input placeholder="Nomor WO" st-search="dum.no_wo" class="form-control"/>
                                </div>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-group">
                                    
                                    <label class="col-sm-2 control-label">No Chassis</label>
                                <div class="col-sm-3">
                                    <input placeholder="Nomor chasssis" st-search="sti.no_chassis" class="form-control"/>
                                </div>
                                    <label class="col-sm-2 control-label">Nama Customer</label>
                                <div class="col-sm-3">
                                    <input placeholder="Nama Customer" st-search="cus.nm_customer" class="form-control"/>
                                </div>
                                    
                                </div>
                            </div>
                            <!--</div>-->
                            
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" ng-hide="paginations == 0">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>

                            <th st-sort="dum.no_wo">WO</th>
                            <th st-sort="rb.tgl">Pembuatan RB</th>
                            <th st-sort="tum.tgl">Pengajuan UM</th>
                            <th st-sort="dum.kd_uji">No. Register UM</th>
                            <th st-sort="ch.merk">Merk/Type</th>
                            <th st-sort="sti.no_chassis">Chassis</th>
                            <th st-sort="cus.nm_customer">Customer</th>

                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed">
                            <td>{{row.no_wo}}</td>
                            <td>{{row.tanggal_rubah | date:'dd - MMM - yyyy'}}</td>
                            <td>{{row.tgl | date:'dd - MMM - yyyy'}}</td>
                            <td>{{row.kd_uji}}</td>
                            <td>{{row.merk}}/{{row.tipe}}</td>
                            <td>{{row.no_chassis}}</td>
                            <td>{{row.nm_customer}}</td>


                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="4" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                            </td>
                        </tr>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->



    <!--PRINT-->

    

</div>
