<div ng-controller="kpbCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Kartu Pengambilan Bahan</h1>
    </div>
    <!--FORM-->
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                Form Kartu Pengambilan Bahan
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">No Wo.</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <ui-select on-select="listBagian($item.kd_bom)" ng-model="form.no_wo"  theme="bootstrap">
                                    <ui-select-match>{{$select.selected.no_wo}}</ui-select-match>
                                    <ui-select-choices refresh="cariWo($select.search)" repeat="val in results">
                                        {{val.no_wo}}
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button ng-click="form.no_wo = undefined;
                                            jabatan = []" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </div> 
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Bagian</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="form.kd_jabatan" required ng-change="listBahan(form.no_wo, form.kd_jabatan)">
                                <option value="">.: Pilih Bagian :.</option>
                                <option ng-repeat="jab in jabatan" value="{{jab.id_jabatan}}">{{jab.jabatan}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary fa fa-print" ng-click="simpanPrint(form.no_wo.no_wo, form.kd_jabatan)" ng-print print-element-id="printArea" ng-disabled="status == 1">&nbsp;Print</button>
                            <button type="button" class="btn btn-success fa fa-check"  ng-click="modal()">&nbsp;Buka Print Out</button>
                        </div>
                    </div>
                    <div class="form-group" ng-if="detail.length > 0">
                        <div class="col-md-12">
                            <div class="alert alert-danger" ng-if="msg.length > 0">
                                <p>{{msg}}</p>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Pekerjaan</th>
                                        <th>Barang</th>
                                        <th>Jml</th>
                                        <th>Satuan</th>
                                        <th>Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="det in detail">
                                        <td>{{det.kerja}}</td>
                                        <td>{{det.nm_barang}}</td>
                                        <td>{{det.qty}}</td>
                                        <td>{{det.satuan}}</td>
                                        <td>{{det.ket}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>	
                </form>
            </div>
        </div>
    </div>

    <div id="printArea" style="width: 11cm;">
        <h2 align="center">
            KARTU PENGAMBILAN BAHAN (KPB) <BR>
            {{form.no_wo.jenis| uppercase}}
        </h2><br>
        <p>NO WO : {{form.no_wo.no_wo}}
        <table class="print-detail" style="font-size: 9pt">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>JENIS BARANG</th>
                    <th>JML</th>
                    <th>SAT</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="det in detail">
                    <td>{{(1 * $index) + 1}}</td>
                    <td>{{det.nm_barang}}</td>
                    <td>{{det.qty}}</td>
                    <td>{{det.satuan}}</td>
                </tr>
            </tbody>
        </table>
        <br><br><br>
        <hr style="border: 2px solid #000">
        <table width="100%">
            <tr>
                <td style="border: none; text-align: center; width: 30%">PPIC</td>
                <td style="border: none; text-align: center; width: 40%">GUDANG</td>
                <td style="border: none; text-align: center; width: 30%">PEKERJA</td>
            </tr>
        </table>
    </div>
</div>


