<div ng-app="app" ng-controller="spkCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Surat Perintah Kerja</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <!--<button type="button" class="btn btn-default fa fa-file-excel-o" ng-show="!isCollapsed">&nbsp;Export Excel</button>-->
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">No Wo</label>
                        <div class="col-sm-3">
                            <input st-search="no_wo" class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">Nama Customer</label>
                        <div class="col-sm-3">
                            <input st-search="nm_customer" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Model</label>
                        <div class="col-sm-3">
                            <input st-search="model" class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">Bagian</label>
                        <div class="col-sm-3">
                            <input st-search="jabatan" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th>No. Wo</th>
                            <th>PIC</th>
                            <th>Customer</th>
                            <th>Model</th>
                            <th>Bagian</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.no_wo}}</td>
                            <td>{{row.nama}}</td>
                            <td>{{row.nm_customer}}</td>
                            <td>{{row.model}}</td>
                            <td>{{row.jabatan}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);" ></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="6" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html"></td>
                        </tr>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->

    <div class="wrapper-md" ng-show="is_edit">
        <div class="panel panel-default">

            <div class="panel-heading">
                {{formtitle}}
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;" ng-hide="is_print == false" ng-show="is_view">
                    <button type="button" class="btn btn-primary fa fa-print" ng-click="updt_st(form.id_spk)"  ng-print print-element-id="printArea" ng-disabled="form.status == '1' && user.id != '1'">&nbsp;Print</button>
                </div> 
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">

                    <div class="col-md-6 col-sm-12">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">No. Wo</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <ui-select on-select="pilih(form, $item)" ng-model="form.no_wo" theme="bootstrap">
                                        <ui-select-match>{{$select.selected.no_wo}}</ui-select-match>
                                        <ui-select-choices refresh="cariProduk($select.search)" repeat="val in results">
                                            {{val.no_wo}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button ng-click="form.no_wo = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Customer</label>
                            <div class="col-sm-8">

                                <input type="text" class="form-control" ng-model="form.nm_customer" ng-disabled="is_view" readonly >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">PIC</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <ui-select  ng-model="form.pic" theme="bootstrap">
                                        <ui-select-match>{{$select.selected.nama}}</ui-select-match>
                                        <ui-select-choices refresh="cariOrang($select.search)" repeat="val in resultsKaryawan">
                                            {{val.nama}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button ng-click="form.pic = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Model</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control"  ng-model="form.model" ng-disabled="is_view" readonly >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Bagian</label>
                            <div class="col-sm-8">
                                <ui-select on_select="getjabatan(form)"   ng-model="form.jabatan" theme="bootstrap">
                                    <ui-select-match placeholder="Cari Jabatan">{{$select.selected.jabatan}}</ui-select-match>
                                    <ui-select-choices group-by="'group'" repeat="dokter in sJabatan | filter: $select.search">
                                        <div ng-bind-html="dokter.jabatan | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-3">
                                    Detail SPK Pekerjaan
                                </div>
                                <div class="col-md-9" align="right">
                                    <button ng-click="addDetail()" class="btn btn-success" ng-hide="is_view" title="Tambah Detail"><i class="fa fa-plus-square"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped b-t b-light">
                                <tr ng-repeat="detail in detKerja">
                                    <td>
                                <ui-select tagging="tagTransform"  on-select="nambahIsi(detail,$item)" tagging-label="false" ng-model="detail.nm_kerja" theme="bootstrap" sortable="true" ng-disabled="disabled" style="width: 600px;" title="Choose a color">
                                    <ui-select-match placeholder="Pilih jenis kerjaan">{{$select.selected.nm_kerja}}</ui-select-match>
                                    <ui-select-choices repeat="kerja in sKerja | filter:$select.search" >
                                        <small>
                                            {{kerja.nm_kerja}} 

                                        </small>
                                    </ui-select-choices>
                                </ui-select>

                                </td>

                                <td align="right">
                                    <button ng-click="removeRow($index)" class="btn btn-danger" ng-hide="is_view"><i class="fa fa-trash-o"></i></button>
                                </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div align="center">
                        <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                        <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, detKerja)">&nbsp;Simpan Perubahan</button>
                    </div>	
                </form>
            </div>
        </div>
    </div>
    <div id="printArea" ng-show="is_view">
        <table width="100%"  style="border-collapse: collapse;  font-size: 12px;">
            <tr>
                <td colspan="5" style="padding: 8px;border: 1px solid #000">
                    <div style="border: 1px solid #000">
                        <center><h3>SPK PRIMER</h3></center>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="border: 1px solid #000">
                    <table width="100%" style="font-size: 12px;">
                        <tr>
                            <td ><b>No. Wo</b></td>
                            <td>: {{form.no_wo.no_wo}}</td>
                            <td ><b>Model</b></td>
                            <td>: {{form.model}}</td>
                        </tr>
                        <tr>
                            <td ><b>Customer</b></td>
                            <td>: {{form.nm_customer}}</td>
                            <td><b>Chassis</b></td>
                            <td>: {{form.merk}}/{{form.tipe}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <table width="102%" style="margin-top: -2px;border-collapse: collapse; border: 1px #000 solid; font-size: 11px;">
                        <tr>
                            <th class="border-all">NO</th>
                            <th class="border-all">URAIAN</th>
                            <th class="border-all"><center>%</center></th>
                        <th class="border-all">KETERANGAN</th>
            </tr>
            <tr ng-repeat="detail in detKerja">
                <td style="border: 1px solid #000; width: 3%" class="border-all"><center>{{$index + 1}}</center></td>
            <td style="border: 1px solid #000000" class="border-all">
                {{detail.nm_kerja.nm_kerja}}
            </td>
            <td style="border: 1px solid #000000" class="border-all"></td>
            <td style="border: 1px solid #000000" class="border-all"></td>
            </tr>
        </table>
        </td>
        </tr>
        <tr>
            <td style="border-collapse: collapse; ">
                <table width="100%" style="border-collapse: collapse; border: 1px #000 solid; font-size: 11px; margin-top: -2px; ">
                    <tr >
                        <td rowspan="3" colspan="2" valign="middle" class="border-all">
                    <center>SPK DITERIMA</center>
            </td>
            <td class="border-all" ><center>PEMBORONG</center></td>
        <td class="border-all"><center>PENGAWAS</center></td>
        <td class="border-all"><center>PPC</center></td>
        </tr>
        <tr>
            <td class="border-all"><br><br></td>
            <td class="border-all"><br><br></td>
            <td class="border-all"><br><br></td>
        </tr>

        <tr>
            <td class="border-all" width="80">Tgl:</td>
            <td class="border-all" width="80">Tgl:</td>
            <td class="border-all" width="80">Tgl:</td>
        </tr>
        <tr>
            <td rowspan="3" colspan="2" valign="middle" class="border-all">
        <center>SPK DITERIMA UNIT</center>
        </td>
        </tr>
        <tr>
            <td class="border-all"><br><br></td>
            <td class="border-all"><br><br></td>
            <td class="border-all"><br><br></td>
        </tr>

        <tr>
            <td class="border-all">Tgl:</td>
            <td class="border-all">Tgl:</td>
            <td class="border-all">Tgl:</td>
        </tr>

        </table>
        </td>
        </tr>
        </table>
    </div>
</div>
