<div ng-app="app" ng-controller="wipCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Work In Proses</h1>
    </div>
    

    <!--FORM-->

    <div class="wrapper-md" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <br>
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">

                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">NO WO</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <ui-select on-select="pilih(form, $item)" ng-model="form.no_wo" theme="bootstrap" style="width: 100%">
                                            <ui-select-match>{{$select.selected.no_wo}}</ui-select-match>
                                            <ui-select-choices refresh="cariWo($select.search)" repeat="val in listWo">
                                                {{val.no_wo}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button ng-click="form.no_wo = undefined" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tanggal Masuk</label>
                                <div class="col-sm-6">
                                    <!--{{form.tgl_kontrak | date:'dd - MMM - yyyy'}}-->
                                    <input type="text" class="form-control" ng-model="form.tgl_terima" required disabled="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Model</label>
                                <div class="col-sm-6">
                                    <!--{{form.tgl_kontrak | date:'dd - MMM - yyyy'}}-->
                                    <input type="text" class="form-control" ng-model="form.model" required disabled="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Umur Unit</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="form.umur" required disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 center" style="margin-top: 30px;">
                            <center> <b style="font-size: -webkit-xxx-large;">{{form.jenis}}</b></center>

                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <tabset justified="true" class="tab-container">


                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <table class="table table-striped b-t b-light">
                                  <thead>
                                 <tr>
                                        <th class="panel-heading text-muted font-bold" colspan="7">Detail Work In Proses</th>
                                        <th class="panel-heading text-muted font-bold" ><button ng-click="addDetail()" class="btn btn-success"  title="Tambah Detail"><i class="fa fa-plus-square"></i></button></th>
                                    </tr>
                                <tr>
                                    <!--<th>NO WO</th>-->
                                    <th>Kepala Pemborong</th>
                                    <th>Proses</th>
                                    <th>Plan Tgl Mulai</th>
                                    <th>Plan Tgl Akhir</th>
                                    <th>Act Tgl Mulai</th>
                                    <th>Act Tgl Akhir</th>
                                    <th>Keterangan</th>
                                    <th></th>
                                </tr>
                                  </thead>
                                <tr ng-repeat="det in detWip">
                                    <!--                                    <td  style="margin:0px;padding:0px;">
                                                                            <input type="text" class="form-control" ng-model="det.no_wo" required disabled="true"/>
                                                                        </td>-->
                                    <td style="margin:0px;padding:0px;">
                                        {{det.pemborong.nama}}
                                        <!--<input type="text" class="form-control" ng-model="det.pemborong.nama" required disabled="true"/>-->
                                    </td>
                                    <td style="margin:0px;padding:0px;">
                                        {{det.proses.bagian}}
                                        <!--<input type="text" class="form-control" ng-model="det.proses.bagian" required disabled="true"/>-->
                                    </td>
                                    <td style="margin:0px;padding:0px;">
                                         {{det.plan_start | date:'dd - MMM - yyyy'}}
<!--                                        <input type="text" class="form-control" ng-model="det.plan_start" required disabled="true"/>-->
                                    </td>
                                    <td style="margin:0px;padding:0px;">
                                        {{det.plan_finish | date:'dd - MMM - yyyy'}}
                                        <!--<input type="text" class="form-control" ng-model="det.plan_finish" required disabled="true"/>-->
                                    </td>
                                    <td style="margin:0px;padding:0px;">
                                        {{det.act_start | date:'dd - MMM - yyyy'}}
                                        <!--<input type="text" class="form-control" ng-model="det.act_start" required disabled="true"/>-->
                                    </td>
                                    <td style="margin:0px;padding:0px;">
                                        {{det.act_finish | date:'dd - MMM - yyyy'}}
                                        <!--<input type="text" class="form-control" ng-model="det.act_start" required disabled="true"/>-->
                                    </td>
                                    <td style="margin:0px;padding:0px;">
                                        {{det.ket}}
                                        <!--<input type="text" class="form-control" ng-model="det.keterangan" disabled="true"/>-->
                                    </td>
                                    <td style="margin:0px;padding:0px;width:7%" ng-hide="is_view">
                                        <div class="btn-group pull-right" role="group">
                                            <button ng-click="modal(det)" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></button>
                                            <!--<button ng-click="addDetail()" class="btn btn-success" ng-show="$index == 0" ng-disabled="is_view"><i class="fa fa-plus-square-o"></i></button>-->
                                            <button ng-click="removeRow($index)" class="btn btn-danger"  ng-disabled="is_view"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                    </td>

                                </tr>

                            </table>
                        </tabset>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div align="center">
                            
                            <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, detWip)">&nbsp;Simpan Perubahan</button>
                        </div>


                    </div>







                </form>
            </div>
        </div>
    </div>
</div>