<div class="modal-header">
    <h3 class="modal-title">Form Detail Work In Progress</h3>
</div>
<div class="modal-body">
    <form name="modalform" class="form-horizontal form-validation">
        <div class="form-group">
            <label class="col-sm-2 control-label">Kepala Pemborong</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <ui-select ng-model="formmodal.pemborong" theme="bootstrap" style="width: 100%">
                        <ui-select-match>{{$select.selected.nama}}</ui-select-match>
                        <ui-select-choices refresh="cariPemborong($select.search)" repeat="val in listkarywan">
                            {{val.nama}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button ng-click="formmodal.nama = undefined" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Proses</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <ui-select ng-model="formmodal.proses" theme="bootstrap" style="width: 100%">
                        <ui-select-match>{{$select.selected.bagian}}</ui-select-match>
                        <ui-select-choices refresh="cariProses($select.search)" repeat="val in listproses">
                            {{val.bagian}}
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                        <button ng-click="formmodal.bagian = undefined" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Plan Start</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="formmodal.plan_start" is-open="opened1" ng-click="open1($event)"/>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar-o"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Plan Finish</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="formmodal.plan_finish" is-open="opened2" ng-click="open2($event)"/>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar-o"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Actual Start</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="formmodal.act_start" is-open="opened3" ng-click="open3($event)"/>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar-o"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Actual Finish</label>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="formmodal.act_finish" is-open="opened4" ng-click="open4($event)"/>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar-o"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Keterangan</label>
            <div class="col-sm-6">
                <textarea class="form-control" ng-model="formmodal.ket" ></textarea>
            </div>
        </div>
       
    </form>
</div>
<div class="modal-footer">                  
    <button class="btn btn-primary" ng-click="cancel()">Close Form</button>
</div>