<div ng-controller="penggunaCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Data Master - User</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nama</label>
                        <div class="col-sm-3">
                            <input st-search="m_user.nama" class="form-control"/>

                        </div>
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-3">
                            <input st-search="m_user.username" class="form-control"/>

                        </div>


                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Group</label>
                        <div class="col-sm-3">
                            <select class="form-control m-b" st-search="m_user.roles_id">
                                <option value="">-- Pilih Roles --</option>
                                <option ng-repeat="roles in roleslist" value="{{roles.id}}">{{roles.nama}}</option>
                            </select>

                        </div>
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-3">
                            <select stInputEvent="change" st-search="m_user.is_deleted" class="form-control">
                                <option value="0">Aktif</option>
                                <option value="1">Terhapus</option>
                            </select>

                        </div>

                    </div>

                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="m_user.nama">Nama</th>
                            <th st-sort="m_roles.nama">Nama Grup</th>
                            <th st-sort="m_user.username">Username</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.nama}}</td>
                            <td>{{row.roles}}</td>
                            <td>{{row.username}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)" ng-show="row.is_deleted == 0"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="trash(row);" ng-show="row.is_deleted == 0"></button>
                                    <button type="button" class="btn btn-info fa fa-recycle" ng-click="restore(row);" ng-show="row.is_deleted == 1"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);" ng-show="row.is_deleted == 1"></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="4" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                            </td>
                        </tr>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->

    <div class="wrapper-md" ng-show="is_edit">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{formtitle}} 
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nama</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="form.nama" ng-disabled="is_view" required />
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Hak Akses</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="form.roles_id" ng-disabled="is_view" required>
                                <option value="">-- Pilih Hak Akses --</option>
                                <option ng-repeat="roles in roleslist" value="{{roles.id}}">{{roles.nama}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="form.username" ng-disabled="is_view" required />
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Enter Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" ng-model="form.password" ng-disabled="is_view" ng-required="is_create == true"/>
                            <span class="help-block m-b-none">Isikan password baru, untuk mengganti password</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Confirm Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" required ng-model="form.confirm_password" ui-validate=" '$value==form.password' " ui-validate-watch=" 'form.password' ">
                            <span ng-show='form.confirm_password != form.password'>Password tidak sama</span>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                            <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid || form.confirm_password != form.password" ng-click="save(form)">&nbsp;Simpan</button>
                        </div>
                    </div>	
                </form>
            </div>
        </div>
    </div>
</div>