<div ng-app="app" ng-controller="wipCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Master Schedule</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">.:: Master Schedule
                <div class="btn-group pull-right" role="group" style="margin-top: -4px; margin-right: 18px;">
                </div> 
            </div>
            <div class="panel-body">
                <div class="panel panel-info" style="text-align: center">
                    <div class="panel-heading">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">No. Wo.</label>
                                        <div class="col-sm-9">
                                            <input type="text" st-search="dw.no_wo" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Customer</label>
                                        <div class="col-sm-9">
                                            <input type="text" st-search="vws.nm_customer" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group"> 
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-9">
                                            <div class="pull-left dropdown" style="margin-top: 0px" dropdown="">
                                                <button type="button" class="btn btn-success" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">Lap. Rekap Schedule <span class="caret"></span></button>
                                                <ul class="dropdown-menu" style="background-color: #F7F7F7; width: 260px;">
                                                    <li><a href="#" ng-click="print()">Print</a></li>
                                                    <li><a href="#" ng-click="excel2()">Export Excel</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" ng-hide="paginations == 0">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="rb.kd_rubah">No. Wo</th>
                            <th st-sort="rb.no_wo">Customer</th>
                            <th st-sort="vws.jenis">Proses</th>
                            <th st-sort="vws.merk">Plan Start</th>
                            <th st-sort="vws.tipe">Plan Finish</th>
                            <th st-sort="rb.tgl">Real Start</th>
                            <th st-sort="rb.pengajuan">Real Finish</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed">
                            <td>{{row.no_wo}}</td>
                            <td>{{row.nm_customer}}</td>
                            <td>{{row.bagian}}</td>
                            <td>{{row.plan_start}}</td>
                            <td>{{row.plan_finish}}</td>
                            <td>{{row.act_start}}</td>
                            <td>{{row.act_finish| date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="8" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html" colspan="8"></td>
                        </tr>
                </table>			
            </div>
        </div>
    </div>
    <!--FORM-->
</div>
