<div ng-app="app" ng-controller="wokeluarCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Transaksi - Delivery Unit</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian & Export Data</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-default fa fa-file-excel-o" ng-show="!isCollapsed">&nbsp;Export Excel</button>
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="form-group">


                        <label class="col-sm-2 control-label">No Delivery</label>
                        <div class="col-sm-3">
                            <input st-search="no_delivery" class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">Merk</label>
                        <div class="col-sm-3">
                            <input st-search="merk" class="form-control"/>

                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Model</label>
                        <div class="col-sm-3">
                            <input st-search="model" class="form-control"/>

                        </div>
                        <label class="col-sm-2 control-label">Sales</label>
                        <div class="col-sm-3">
                            <input st-search="nama" class="form-control"/>

                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="no_wo">NO WO</th>
                            <th st-sort="no_wo">TGL MASUK</th>
                            <th st-sort="no_wo">TGL KELUAR</th>
                            <th st-sort="no_wo">SALES</th>
                            <th st-sort="no_wo">AREA</th>
                            <th st-sort="no_wo">MARKETING</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.no_wo}}</td>
                            <td>{{row.tgl_kontrak | date:'dd - MMM - yyyy'}}</td>
                            <td>{{row.tgl_keluar | date:'dd - MMM - yyyy'}}</td>
                            <td>{{row.nama}}</td>
                            <td>{{row.lokasi_kntr}}</td>
                            <td>{{row.nm_customer}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);" ></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="4" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                            </td>
                        </tr>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->

    <div class="wrapper-md" ng-show="is_edit">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{formtitle}} 
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">

                    <div class="col-md-12 col-sm-12">
                        <tabset justified="true" class="tab-container">
                            <tab heading="DATA UNIT">
                                <table width="100%">
                                    <tr>
                                        <td width="35%" valign="top">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">NO WO</label>
                                                <div class="col-sm-6">
                                                    <ui-select ng-change="getnowo(form)" ng-model="form.no_wo" theme="bootstrap" style="width: 245px; margin-top: 2px; margin-bottom: 1px;">
                                                        <ui-select-match placeholder="Cari No SPK">{{$select.selected.no_wo}}</ui-select-match>
                                                        <ui-select-choices group-by="'group'" repeat="spk in list_nowo | filter: $select.search">
                                                            <div ng-bind-html="spk.no_wo | highlight: $select.search"></div>

                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Jenis Kendaraan</label>
                                                <div class="col-sm-9">
                                                    <label class="btn btn-default" ng-model="form.jenis" ng-disabled="is_view" btn-radio="'Mini Bus'" required>Mini Bus</label>
                                                    <label class="btn btn-default" ng-model="form.jenis" ng-disabled="is_view" btn-radio="'Small Bus'" required>Small Bus</label>
                                                </div>
                                            </div>

                                            
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Kode Titipan</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="form.kd_titipan" ng-disabled="true" placeholder="Kode Titipan">
                                                </div>
                                            </div> 
                                            
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Customer</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="form.customer" ng-disabled="true" placeholder="Customer">
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Pemilik</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="form.pemilik" ng-disabled="true" placeholder="Pemilik">
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Sales</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="form.sales" ng-disabled="true" placeholder="Sales">
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Warna Chassis</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" ng-model="form.warna" ng-disabled="true" placeholder="Warna Chassis">
                                                </div>
                                            </div> 
                                        </td>
                                        <td width="35%" valign="top">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Model Chassis</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="form.model_chassis" ng-disabled="true" placeholder="Model Chassis">
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Merk</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="form.merk" ng-disabled="true" placeholder="Merk">
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Tipe</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="form.tipe" ng-disabled="true" placeholder="Tipe">
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Model kendaraan</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" ng-model="form.model" ng-disabled="true" placeholder="Model Kendaraan">
                                                </div>
                                            </div> 
                                             
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">In SPK Marketing</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-disabled="true" ng-model="form.in_spk_marketing" is-open="opened2" ng-click="open2($event)"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar-o"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label">Tanggal Kontrak</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-disabled="true" ng-model="form.tgl_kontrak" is-open="opened3" ng-click="open3($event)"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar-o"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div> 
                                            <div class="form-group" ng-show="is_edit">
                                                <label class="col-sm-3 control-label">Tanggal Keluar</label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_keluar" is-open="opened1" ng-click="open1($event)"/>
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-calendar-o"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div> 
                                        </td>
                                        <td width="30%" valign="top">
                                            <img ng-src="img/{{(form.foto) ? 'womasuk/'+form.foto : 'noimage.jpg'}}" class="img-thumbnail">
                                           
                                        </td>
                                    </tr>
                                </table>



                            </tab>
                           
                            
                        </tabset>

                    </div>





                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div align="center">
                        <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                        <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form)">&nbsp;Simpan Perubahan</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>