<div ng-controller="stiCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Serah Terima Internal</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3">Kode Titipan</label>
                            <div class="col-md-9">
                                <input st-search="se.kd_titipan" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Customer</label>
                            <div class="col-md-9">
                                <input st-search="cu.nm_customer" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="se.kd_titipan">Kode Titipan</th>
                            <th st-sort="se.tgl_terima">Tgl Terima</th>
                            <th st-sort="cu.nm_customer">Customer</th>
                            <th st-sort="cu.alamat1">Alamat</th>
                            <th st-sort="wa.warna">Warna</th>
                            <th st-sort="vi.no_wo">No Wo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.kd_titipan}}</td>
                            <td>{{row.tgl_terima| date}}</td>
                            <td>{{row.nm_customer| limitTo:15}}</td>
                            <td>{{row.alamat1| limitTo:15}}</td>
                            <td>{{row.warna_chassis}}</td>
                            <td>{{row.no_wo}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);"></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="7" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html" colspan="7"></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="wrapper-md" ng-show="is_edit">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{formtitle}}
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;" ng-show="is_view">
                    <button type="button" class="btn btn-primary fa fa-print" ng-print print-element-id="printArea"  ng-show="is_view == true">&nbsp;Cetak BBM</button>
                </div>
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode Titipan</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="form.kd_titipan" ng-readonly="is_create == false" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tanggal Terima</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_terima" is-open="opened1" ng-click="open1($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nama Customer</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <ui-select on-select="getCustomer(form,$item)" ng-model="form.customer" required theme="bootstrap" ng-disabled="is_view" >
                                        <ui-select-match>{{$select.selected.nm_customer}}</ui-select-match>
                                        <ui-select-choices refresh="cariCustomer($select.search)" repeat="val in kdCust">
                                            <div ng-bind-html="val.nm_customer | highlight: $select.search"></div>
                                            <small>
                                                <span ng-bind-html="val.alamat1"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button ng-click="form.customer = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Alamat</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="form.alamat1" ng-readonly="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Driver</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="form.driver" ng-readonly="is_view" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Serah Terima kendaraan</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.serah_terima" is-open="opened2" ng-click="open2($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Diterima PRD</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_prd" is-open="opened3" ng-click="open3($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Diterima PDC</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_pdc" is-open="opened4" ng-click="open4($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Merk</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <select class="form-control" ng-change="typeChassis(form.merk);
                                                    getchassis(form.merk, form.tipe)" ng-model="form.merk" ng-disabled="is_view" required style="width: 245px;">
                                        <option value="">-Pilih Merk-</option>
                                        <option ng-repeat="merk in listMerk" value="{{merk.merk}}">{{merk.merk}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tipe</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-change="getchassis(form.merk, form.tipe)" ng-model="form.tipe" ng-disabled="is_view" required style="width: 245px;">
                                    <option value="">-Pilih Tipe-</option>
                                    <option ng-repeat="tipe in listTipe" value="{{tipe.tipe}}">{{tipe.tipe}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode Chassis</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="form.kd_chassis" readonly required ng-disabled="is_view">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Model</label>
                            <div class="col-sm-9">
                                <select ng-change="changed(form)" class="form-control" style="width:100%" ng-model="form.kd_model" ng-disabled="is_view" data-placeholder="Pilih Model" required>
                                    <option value="Chassis Short">Chassis Short</option>
                                    <option value="Chassis Long">Chassis Long</option>
                                    <option value="Chassis Cabin">Chassis cabin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">No. Chassis</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="form.no_chassis">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">No. Mesin</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="form.no_mesin">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode Warna</label>
                            <div class="col-sm-9">
                                <ui-select tagging="tagTransform"   tagging-label="false" ng-model="form.warna" theme="bootstrap" sortable="true" ng-disabled="disabled" style="width: 300px;" title="Choose a color">
                                    <ui-select-match placeholder="Pilih jenis kerjaan">{{$select.selected.warna}}</ui-select-match>
                                    <ui-select-choices repeat="warna in list_warna | filter:$select.search" >
                                        <small>
                                            {{warna.warna}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="is_view">
                            <label class="col-sm-3 control-label">No WO</label>
                            <div class="col-sm-9">
                                <input type="text" ng-readonly="true" class="form-control" ng-model="form.no_wo">
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div align="center">
                        <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                        <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form)">&nbsp;Simpan Perubahan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="printArea" ng-show="is_view">
        <style>
            .detail-barang td{
                border-top: 1px;
                border-left: 1px;
                border-bottom: 1px;
                border-right: 1px;
                border:1px;
                border-style:solid;
            }
        </style>
        <div style="margin-top: 0px">
            <table width="100%" class="no-border">
                <tr>
                    <td width="50%">
                        PT. KARYA TUGAS ANDA <br>
                        Sukorejo - Pasuruan
                    </td>
                    <td valign="top">
                        NO. DOC : FR-WHS-004-REV.00
                    </td>
                </tr>
            </table>
            <br>
            <center>
                <h4>*** BUKTI BARANG MASUK ***</h4>
            </center>
            <br>
            <center>
                FR-WHS-003.REV.00
            </center>
            <br>
            <div class="joke" border="1">
                <table class="detail-barang" border="1px" style="border-collapse: collapse;width:100%">
                    <tr>
                        <td style="border-bottom: 1px;width: 40%" colspan="2" border="1">
                            Tanggal : 2015-08-12<br>
                            No. BBM : BM1502088<br>
                            No. PO : PCH150034<br>
                        </td>
                        <td style="border-top:none !important;border-bottom:none !important;"></td>
                        <td style="border:1px;width:55%" colspan="3">
                            Dari : PERDANA - JL. TEMBAAN 57 C - SURABAYA            </td>
                    </tr>
                </table>
            </div>
            <br>
            <table border="1" class="detail-barang" style="border-collapse: collapse;width: 100%">
                <thead>
                    <tr>
                        <th style="text-align: center;">No</th>
                        <th style="text-align: center;">Nama Barang</th>
                        <th style="text-align: center;">Qty</th>
                        <th style="text-align: center;">Kode Barang</th>
                        <th style="text-align: center;" colspan="2">Keterangan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td style="text-align: center;">1</td><td>PIPA KOTAK 20 X 40 X 1,8 MM X 6 M</td><td style="text-align: center;">13</td><td style="text-align: center;">700135</td><td colspan="2">asdfasd</td></tr><tr><td style="text-align: center;">2</td><td>MUR M - 8 KOTAK</td><td style="text-align: center;">11</td><td style="text-align: center;">700113</td><td colspan="2">agdfas a</td></tr>    </tbody>
            </table>
            <br>
            <table border="1" class="detail-barang" style="width:100%;border-collapse: collapse;">
                <tr>
                    <td colspan="2" rowspan="3" style="height: 100px;font-">Catatan : </td>
                    <td style="text-align: center;">PIMPINAN</td>
                    <td style="text-align: center;">INSPEKSI</td>
                    <td style="text-align: center;">ADM. GUDANG</td>
                    <td style="text-align: center;">DISERAHKAN</td>
                </tr>
                <tr>
                    <td style="height: 60px !important;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>TGL : </td>
                    <td>TGL : </td>
                    <td>TGL : </td>
                    <td>TGL : </td>
                </tr>
            </table>
            1. Supplier ; 2. Keuangan ; 3. Gudang


        </div>

    </div>
</div>
