<div ng-controller="stiCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Serah Terima Internal</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3">Kode Titipan</label>
                            <div class="col-md-9">
                                <input st-search="se.kd_titipan" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Customer</label>
                            <div class="col-md-9">
                                <input st-search="cu.nm_customer" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="se.kd_titipan">Kode Titipan</th>
                            <th st-sort="se.tgl_terima">Tgl Terima</th>
                            <th st-sort="cu.nm_customer">Customer</th>
                            <th st-sort="cu.alamat1">Alamat</th>
                            <th st-sort="wa.warna">Warna</th>
                            <th st-sort="vi.no_wo">No Wo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.kd_titipan}}</td>
                            <td>{{row.tgl_terima| date}}</td>
                            <td>{{row.nm_customer| limitTo:15}}</td>
                            <td>{{row.alamat1| limitTo:15}}</td>
                            <td>{{row.warna_chassis}}</td>
                            <td>{{row.no_wo}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);"></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="7" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html" colspan="7"></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="wrapper-md" ng-show="is_edit">
        <form name="landaform" class="form-horizontal form-validation">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{formtitle}}
                    <div class="btn-group pull-right" role="group" style="margin-top: -3px;" ng-show="is_view">
                        <button type="button" class="btn btn-primary fa fa-print" ng-print print-element-id="printArea"  ng-show="is_view == true">&nbsp;Print</button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pilih Format Kode</label>
                            <div class="col-sm-8">
                                <label class="btn btn-default" ng-click="created_kode('IB')" ng-model="format_kode" btn-radio="'IB'"  required> IB </label>
                                <label class="btn btn-default" ng-click="created_kode('IV')" ng-model="format_kode" btn-radio="'IV'"  required> IV </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Kode Titipan</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" 
                                       ng-model="form.kd_titipan" 
                                       ng-readonly="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tanggal Terima <span class="required"></span></label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" 
                                           datepicker-popup="dd-MM-yyyy" 
                                           ng-model="form.tgl_terima" 
                                           is-open="opened1" 
                                           ng-click="open1($event)" required="true"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nama Customer <span class="required"></span></label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <ui-select on-select="getCustomer(form,$item)" 
                                               ng-model="form.customer" 
                                               required 
                                               theme="bootstrap" 
                                               ng-disabled="is_view">
                                        <ui-select-match>{{$select.selected.nm_customer}}</ui-select-match>
                                        <ui-select-choices refresh="cariCustomer($select.search)" repeat="val in kdCust">
                                            <div ng-bind-html="val.nm_customer | highlight: $select.search"></div>
                                            <small>
                                                <span ng-bind-html="val.alamat1"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button ng-click="form.customer = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Alamat</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="form.alamat1" ng-readonly="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Driver <span class="required"></span></label>
                            <div class="col-sm-8">
                                <input type="text" 
                                       class="form-control" 
                                       ng-model="form.driver" 
                                       ng-readonly="is_view"
                                       required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Serah Terima kendaraan</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.serah_terima" is-open="opened2" ng-click="open2($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Diterima PRD</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_prd" is-open="opened3" ng-click="open3($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Diterima PDC</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_pdc" is-open="opened4" ng-click="open4($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Merk <span class="required"></span></label>
                            <div class="col-sm-8">
                                <select class="form-control" 
                                        ng-change="typeChassis(form.merk);
                                                        getchassis(form.merk, form.tipe)" 
                                        ng-model="form.merk"
                                        ng-disabled="is_view" 
                                        required >
                                    <option value="">-Pilih Merk-</option>
                                    <option ng-repeat="merk in listMerk" value="{{merk.merk}}" ng-selected="{{merk.merk == form.merk}}" >{{merk.merk}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tipe <span class="required"></span></label>
                            <div class="col-sm-8">
                                <select class="form-control" 
                                        ng-change="getchassis(form.merk, form.tipe)" 
                                        ng-model="form.tipe" 
                                        ng-disabled="is_view" 
                                        required>
                                    <option value="">-Pilih Tipe-</option>
                                    <option ng-repeat="tipe in listTipe" value="{{tipe.tipe}}" ng-selected="{{tipe.tipe == form.tipe}}">{{tipe.tipe}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Kode Chassis</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="form.kd_chassis" readonly required ng-disabled="is_view">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Model <span class="required"></span></label>
                            <div class="col-sm-8">
                                <select ng-change="changed(form)" 
                                        class="form-control" 
                                        style="width:100%" 
                                        ng-model="form.kd_model" 
                                        ng-disabled="is_view" 
                                        data-placeholder="Pilih Model" 
                                        required>
                                    <option value="Chassis Short">Chassis Short</option>
                                    <option value="Chassis Long">Chassis Long</option>
                                    <option value="Chassis Cabin">Chassis Cabin</option>
                                    <option value="Unit">Unit</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">No. Chassis <span class="required"></span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="form.no_chassis" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">No. Mesin <span class="required"></span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="form.no_mesin" required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Kode Warna <span class="required"></span></label>
                            <div class="col-sm-8">
                                <ui-select tagging="tagTransform" 
                                           tagging-label="false" 
                                           ng-model="form.warna" 
                                           theme="bootstrap" 
                                           sortable="true" 
                                           ng-disabled="disabled" 
                                           title="Choose a color"
                                           required='true'>
                                    <ui-select-match placeholder="Pilih jenis kerjaan">{{$select.selected.warna}}</ui-select-match>
                                    <ui-select-choices repeat="warna in list_warna | filter:$select.search" >
                                        <small>
                                            {{warna.warna}}
                                        </small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group" ng-show="is_view">
                            <label class="col-sm-4 control-label">No WO</label>
                            <div class="col-sm-8">
                                <input type="text" ng-readonly="true" class="form-control" ng-model="form.no_wo">
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer text-right bg-light lter">
                    <div align="center">
                        <button type="submit" class="btn btn-default btn-lg fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                        <button type="submit" class="btn btn-primary btn-lg fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form)">&nbsp;Simpan Perubahan</button>
                    </div>
                </footer>
            </div>
        </form>
    </div>
    <div id="printArea" ng-show="is_view">
        <style>
            @media print {
                html, body {
                    display: block; 
                    font-family: "Arial";
                    margin: 0;
                }


            }
        </style>
        <div style="margin-top: 0px">
            <table width="100%" class="no-border">
                <tr>
                    <td colspan="4" style="height: 2cm;">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
            </table>
            <table width="100%" class="no-border">
                <tr>
                    <td style="width:20%">
                    </td>
                    <td valign="top"  style="font-size: 10pt; margin-left: -3px">
                        <b>{{form.tgl_terima| date:'dd/MM/yyyy'}}</b>
                    </td>
                    <td style="width:19%">
                    </td>
                    <td valign="top" style="font-size: 10pt;margin-left: 3px">
                        <b> {{form.serah_terima| date:'dd/MM/yyyy'}} </b>
                    </td>
                    <td style="width:13%">
                    </td>
                    <td valign="top" style="font-size: 10pt;margin-left: 9px">
                        <b> {{form.kd_titipan}}</b>
                    </td>
                    <td style="width:22%">
                    </td>
                    <td valign="top" style="font-size: 10pt;margin-left: 13px">
                        <b> {{form.no_chassis}} </b>
                    </td>
                </tr>
            </table>
            <table width="100%" class="no-border" style="margin-top:-5px">
                <tr>
                    <td style="width:55px">
                    </td>
                    <td valign="top" style="font-size: 9pt;width: 255px;margin-left: 3px">
                        <b> {{form.nm_customer}}</b>
                    </td>
                    <td style="width:150px">
                    </td>
                    <td valign="top" style="font-size: 10pt;width: 70px;margin-left: 5px">
                        <b> {{form.tgl_prd| date:'dd/MM/yyyy'}} </b>
                    </td>
                    <td style="width:85px">
                    </td>
                    <td valign="top" style="font-size: 8pt; width: 180px;margin-left: 12px">
                        <b>  {{form.merk}}/{{form.tipe}} </b>
                    </td>
                    <td style="width:137px">
                    </td>
                    <td valign="top" style="font-size: 10pt;width: 180px;margin-left: 13px">
                        <b>{{form.no_mesin}}</b>
                    </td>
                </tr>
            </table>
            <table width="100%" class="no-border"  style="margin-top:-4px">
                <tr>
                    <td style="width:48px">
                    </td>
                    <td valign="top" style="font-size: 8pt;width: 220px;margin-top: -8px">
                        <b>{{form.alamat1}}</b>
                    </td>
                     <td style="width:70px">
                    </td>
                    <td valign="top" style="font-size: 10pt;width:50px;margin-left: 3px">
                        <b>  {{form.tgl_pdc| date:'dd/MM/yyyy'}} </b>
                    </td>
                     <td style="width:85px">
                    </td>
                    <td valign="top" style="font-size: 10pt;width: 12%;margin-left: 3px">
                        <b> {{form.kd_model}} </b>
                    </td>
                    <td style="width:127px">
                    </td>
                    <td valign="top" style="font-size: 10pt;width: 80px">
                        <b> {{form.warna.warna}}</b>
                    </td>
                </tr>
            </table>
            <table width="100%" class="no-border" style="margin-top:-7px">
                <tr>
                    <td  style="font-size: 10pt;width: 25px">
                    </td>
                    <td  style="font-size: 10pt;width: 10%">
                        <b> {{form.driver}}</b>
                    </td>
                    <td valign="top" style="font-size: 10pt;">
                        <b>  </b>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
