<div ng-controller="BelajarController">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Tutorial Landa Angular 2</h1>
    </div>
    Filter: <input ng-model="pencarian">
    Sort by:
    <select ng-model="ordering">
        <option value="name">Nama (A-Z)</option>
        <option value="nip">NIP (A-Z)</option>
    </select>
    <table class="table table-bordered">
        <tr>
            <th>Foto</th>
            <th>Nip</th>
            <th>Nama</th>
        </tr>
        <tr ng-repeat="user in users| filter:pencarian | orderBy:ordering">
            <td><a href="#/app/master/belajar/{{user.nip}}/{{user.nama}}"><img ng-src="{{user.fotoUrl}}"/></a></td>
            <td>{{user.nip}}</td>
            <td>{{user.nama}}</td>
        </tr>
    </table>
</div>
