<div ng-app="app" ng-controller="bbmCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Bukti Barang Masuk</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-info fa fa-lock" ng-click="lock(pilih);" ng-show="status == 0 && user.roles_id == 1">&nbsp;Lock</button>
                    <button type="button" class="btn btn-success fa fa-unlock" ng-click="unlock(pilih);" ng-show="status == 1 && user.roles_id == 1">&nbsp;Unlock</button>
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">No BBM</label>
                            <div class="col-sm-8">
                                <input st-search="tb.no_bbm" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nama Supplier</label>
                            <div class="col-sm-8">
                                <input st-search="su.nama_supplier" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">No WO</label>
                            <div class="col-sm-8">
                                <input st-search="tb.no_wo" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Surat Jalan</label>
                            <div class="col-sm-8">
                                <input st-search="tb.surat_jalan" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">No PO</label>
                            <div class="col-sm-8">
                                <input st-search="tb.no_po" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Barang</label>
                            <div class="col-sm-8">
                                <input st-search="barang" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" ng-show="user.roles_id == 1">Status</label>
                            <div class="col-sm-8" ng-show="user.roles_id == 1">
                                <select stInputEvent="change" st-search="tb.lock" class="form-control" ng-model="status">
                                    <option value="">.: Pilih Status :.</option>
                                    <option value="1">Lock</option>
                                    <option value="0">Unlock</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th ng-show="user.roles_id == 1"></th>
                            <th st-sort="tb.no_bbm">NO BBM</th>
                            <th st-sort="tb.tgl_nota">Tanggal Nota</th>
                            <th st-sort="tb.surat_jalan">Surat Jalan</th>
                            <th st-sort="su.nama_supplier">Supplier</th>
                            <th st-sort="tb.pengirim">Pengirim</th>
                            <th st-sort="tb.penerima">Penerima</th>
                            <th st-sort="tb.no_wo">No. PO</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td ng-show="user.roles_id == 1">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="pilih.id[row.no_bbm]"><i></i> 
                                </label>
                            </td>
                            <td>{{row.no_bbm}}</td>
                            <td>{{row.tgl_nota| date}}</td>
                            <td>{{row.surat_jalan}}</td>
                            <td>{{row.nama_supplier}}</td>
                            <td>{{row.pengirim}}</td>
                            <td>{{row.penerima}}</td>
                            <td>{{row.no_po}}</td>
                            <td>
                                <div ng-show="row.lock == 0 || user.roles_id == 1" class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);" ></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="8" class="text-center" ng-if="user.roles_id != 1">Loading ... </td>
                            <td colspan="9" class="text-center" ng-if="user.roles_id == 1">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html" colspan="8" ng-if="user.roles_id != 1"></td>
                            <td class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html" colspan="9" ng-if="user.roles_id == 1"></td>
                        </tr>
                    </tfoot>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->

    <div class="wrapper-md" ng-show="is_edit">
        <form name="landaform" class="form-horizontal form-validation ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{formtitle}}
                    <div class="btn-group pull-right" role="group" style="margin-top: -3px;" ng-hide="is_view == false">
                        <button type="button" class="btn btn-primary fa fa-print" ng-print print-element-id="printArea"  ng-show="is_view == true">&nbsp;Print</button>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-12 img-thumbnail" style='padding-top: 20px;'>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">NO BBM</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="form.no_bbm" ng-readonly="true" placeholder="Digenerate secara otomatis">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tanggal Transaksi</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" ng-disabled="is_view" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_nota" is-open="opened1" ng-click="open1($event)"/>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">No PO</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <ui-select focus-on='first' on-select="getPo(form.po)" ng-disabled="is_view" ng-model="form.po" theme="bootstrap" require>
                                            <ui-select-match>{{$select.selected.nota}}</ui-select-match>
                                            <ui-select-choices refresh="cariPo($select.search)" repeat="po in listPo">
                                                {{po.nota}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button ng-click="form.po = undefined" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Supplier</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <input type="text" ng-readonly="true" ng-model="form.nm_supplier" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Pengirim</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <input type="text" ng-disabled="is_view" ng-model="form.pengirim" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Penerima</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <input type="text" ng-disabled="is_view" ng-model="form.penerima" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">No Surat Jalan</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <input type="text" ng-disabled="is_view" ng-model="form.surat_jalan" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped b-t b-light" style='margin-top: 25px;'>
                        <thead>
                            <tr>
                                <th class="panel-heading text-muted font-bold" colspan="3">Detail BBM</th>
                                <th class="panel-heading text-muted font-bold" ><button ng-click="addDetail()" class="btn btn-success" ng-hide="is_view" title="Tambah Detail"><i class="fa fa-plus-square"></i></button></th>
                            </tr>
                            <tr>
                                <th style="text-align: center; font-weight: bold;">Barang</th>
                                <th style="text-align: center; font-weight: bold;width: 25%">Keterangan</th>
                                <th style="text-align: center; font-weight: bold;width: 110px">Jml</th>
                                <th width="30" ng-show="is_view != true" style="margin:0px;padding:0px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detail in detBbm">
                                <td>
                        <ui-select ng-if="autoSelect == true" 
                                   uiselect-autofocus="open" 
                                   ng-disabled="is_view" 
                                   ng-model="detail.barang" 
                                   theme="bootstrap">
                            <ui-select-match><b>{{$select.selected.kd_barang}}</b> |- {{$select.selected.nm_barang}}</ui-select-match>
                            <ui-select-choices refresh="cariBarang($select.search, form.po.nota)" repeat="barang in results">
                                <b>{{barang.kd_barang}}</b> |- {{barang.nm_barang}}
                            </ui-select-choices>
                        </ui-select>
                        <ui-select ng-if="autoSelect == false" 
                                   ng-disabled="is_view" 
                                   ng-model="detail.barang" 
                                   theme="bootstrap">
                            <ui-select-match><b>{{$select.selected.kd_barang}}</b> |- {{$select.selected.nm_barang}}</ui-select-match>
                            <ui-select-choices refresh="cariBarang($select.search, form.po.nota)" repeat="barang in results">
                                <b>{{barang.kd_barang}}</b> |- {{barang.nm_barang}}
                            </ui-select-choices>
                        </ui-select>
                        </td>
                        <td>
                            <input type="text" 
                                   ng-disabled="is_view" 
                                   ng-model="detail.keterangan"  
                                   class="form-control">
                        </td>
                        <td>
                            <input type="text" 
                                   ng-disabled="is_view" 
                                   ng-model="detail.jumlah" 
                                   ng-keyup="kalkulasi(detail.jumlah, detail.barang.sisa_ambil)" 
                                   class="form-control angka" 
                                   ng-enter="addDetail();">
                        </td>
                        <td ng-show="is_view != true" >
                            <button ng-disabled="is_view" ng-click="removeRow($index)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div align="center">
                        <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                        <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, detBbm)" >&nbsp;Simpan Perubahan</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="printArea" ng-show="is_view">
        <style media="print">
            @media print {
                html, body {
                    display: block; 
                    font-family: "Arial";
                    margin: 0;
                    -webkit-transform-origin: 0 0;
                    -moz-transform-origin: 0 0;
                }

                @page {
                    size: 10cm 22cm;
                }
            }
        </style>
        <div style="margin: 10px; width:33cm">
            <table width="100%" class="no-border">
                <tr>
                    <td width="50%" id="print_bbm">
                        PT. KARYA TUGAS ANDA <br>
                        Jl. Raya Sukorejo No. 01<br>
                        Sukorejo - Pasuruan 
                    </td>
                </tr>
            </table>
            <center>
                <h4 id="print_bbm" style="margin: 0px; padding: 0px; font-weight: normal;">BUKTI BARANG MASUK</h4>
            </center>
            <center id="print_bbm">
                FR-WHS-003.REV.00
            </center>
            <table width="100%" style="height: 1.5 cm">
                <thead>
                    <tr>
                        <td id="print_bbm" style="border: 1px #000 solid;width: 35%; padding: 2px;">
                            <table>
                                <tr>
                                    <td id="print_bbm">Tanggal</td>
                                    <td id="print_bbm" width="1">:</td>
                                    <td id="print_bbm">{{form.tgl_nota| date:"dd-MM-yyyy"}}</td>
                                </tr>
                                <tr>
                                    <td id="print_bbm">No. BBM</td>
                                    <td id="print_bbm">:</td>
                                    <td id="print_bbm">{{form.no_bbm}}</td>
                                </tr>
                                <tr>
                                    <td id="print_bbm">No. PO</td>
                                    <td id="print_bbm">:</td>
                                    <td id="print_bbm">{{form.no_po}}</td>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td style="border: 1px #000 solid; width: 64%; vertical-align: top; padding: 2px;" id="print_bbm">
                            <table>
                                <tr>
                                    <td id="print_bbm" width="30">Dari</td>
                                    <td id="print_bbm" width="1">:</td>
                                    <td id="print_bbm">{{form.nm_supplier}} - {{form.alamat_supplier}} </td>
                                </tr>
                                <tr>
                                    <td id="print_bbm">SJ</td>
                                    <td id="print_bbm" width="1">:</td>
                                    <td id="print_bbm">{{form.surat_jalan}}</td>
                                </tr>
                            </table>    
                        </td>
                    </tr>
                </thead>
            </table>
            <table width="100%" style="height: 5.7cm; margin-top: 3px; border: 1px #000 solid;  border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="width: 1cm; height: 15px; vertical-align: middle;" align="center" class="print_bbm_td border-all">No</th>
                        <th style="width: 8cm; height: 15px; vertical-align: middle;" align="center" class="print_bbm_td border-all">Nama Barang</th>
                        <th style="width: 3.5cm; height: 15px; vertical-align: middle;" align="center" class="print_bbm_td border-all">Qty</th>
                        <th style="width: 3.2cm; height: 15px; vertical-align: middle;" align="center" class="print_bbm_td border-all">Kode Barang</th>
                        <th style="width: 6cm; height: 15px; vertical-align: middle;" align="center" class="print_bbm_td border-all">Keterangan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="detail in detBbm" style="height: 10px;">
                        <td style="height: 10px; text-align: center; border-right: 1px #000 solid;" class="print_bbm_td">{{$index + 1}}</td>
                        <td style="border-right: 1px #000 solid;" class="print_bbm_td">{{detail.barang.nm_barang}}</td>
                        <td style="text-align: center; border-right: 1px #000 solid;" class="print_bbm_td">{{detail.jumlah}} {{detail.barang.satuan}}</td>
                        <td style="text-align: center; border-right: 1px #000 solid;" class="print_bbm_td">{{detail.barang.kd_barang}}</td>
                        <td class="print_bbm_td" style="border-right: none;">{{detail.keterangan}}</td>
                    </tr>
                    <tr>
                        <td style="border-right: 1px #000 solid;"></td>
                        <td style="border-right: 1px #000 solid;"></td>
                        <td style="border-right: 1px #000 solid;"></td>
                        <td style="border-right: 1px #000 solid;"></td>
                        <td style="border-right: 1px #000 solid;"></td>
                    </tr>
                </tbody>
            </table>
            <table style="height: 2.5cm; width:100%; border-collapse: collapse; border:  1px #000 solid; margin-top: 2px;">
                <tr>
                    <td rowspan="3" class="print_bbm_td" style="height: 10px; width: 8cm; vertical-align: top; padding: 1px; border-right: 1px #000 solid;">Catatan : </td>
                    <td class="print_bbm_td" style="height: 10px; width: 3cm;text-align: center; padding: 2px; border-right: 1px #000 solid; border-bottom: 1px #000 solid;">PIMPINAN</td>
                    <td class="print_bbm_td" style="height: 10px; width: 3cm;text-align: center; padding: 2px; border-right: 1px #000 solid; border-bottom: 1px #000 solid;">INSPEKSI</td>
                    <td class="print_bbm_td" style="height: 10px; width: 3cm;text-align: center; padding: 2px; border-right: 1px #000 solid; border-bottom: 1px #000 solid;">ADM. GUDANG</td>
                    <td class="print_bbm_td" style="height: 10px; width: 3cm;text-align: center; padding: 2px; border-bottom: 1px #000 solid;">DISERAHKAN</td>
                </tr>
                <tr>
                    <td style="border-right: 1px #000 solid;"><br><br><br></td>
                    <td style="border-right: 1px #000 solid;"></td>
                    <td style="border-right: 1px #000 solid;"></td>
                    <td style="border-right: 1px #000 solid;"></td>
                </tr>
                <tr>
                    <td class="print_bbm_td" style="height: 10px; padding: 1px;border-top: 1px #000 solid;border-right: 1px #000 solid;" >TGL : </td>
                    <td class="print_bbm_td" style="height: 10px; padding: 1px;border-top: 1px #000 solid;border-right: 1px #000 solid;" >TGL : </td>
                    <td class="print_bbm_td" style="height: 10px; padding: 1px;border-top: 1px #000 solid;border-right: 1px #000 solid;" >TGL : </td>
                    <td class="print_bbm_td" style="height: 10px; padding: 1px;border-top: 1px #000 solid;" class="print_bbm_td">TGL : </td>
                </tr>
            </table>
            <p id="print_bbm">1. Supplier ; 2. Keuangan ; 3. Gudang</p>
        </div>
    </div>
</div>
