<div ng-app="app" ng-controller="bbmCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Transaksi - Bukti Barang Masuk</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian & Export Data</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-default fa fa-file-excel-o" ng-show="!isCollapsed">&nbsp;Export Excel</button>
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">No BBM</label>
                        <div class="col-sm-3">
                            <input st-search="no_bbm" class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">Nama Supplier</label>
                        <div class="col-sm-3">
                            <input st-search="su.nama_supplier" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">No WO</label>
                        <div class="col-sm-3">
                            <input st-search="no_wo" class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">Surat Jalan</label>
                        <div class="col-sm-3">
                            <input st-search="surat_jalan" class="form-control"/>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">No PO</label>
                        <div class="col-sm-3">
                            <input st-search="no_po" class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">Jenis Pembayaran</label>
                        <div class="col-sm-3">
                            <input st-search="no_po" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="no_bbm">NO BBM</th>
                            <th st-sort="tgl_nota">Tanggal Nota</th>
                            <th st-sort="surat_jalan">Surat Jalan</th>
                            <th st-sort="su.nama_supplier">Supplier</th>
                            <th st-sort="pengirim">Pengirim</th>
                            <th st-sort="penerima">Penerima</th>
                            <th st-sort="no_wo">No. WO</th>
                            <th st-sort="no_wo">No. PO</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.no_bbm}}</td>
                            <td>{{row.tgl_nota| date}}</td>
                            <td>{{row.surat_jalan}}</td>
                            <td>{{row.nama_supplier}}</td>
                            <td>{{row.pengirim}}</td>
                            <td>{{row.penerima}}</td>
                            <td>{{row.no_wo}}</td>
                            <td>{{row.no_po}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);" ></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="4" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                            </td>
                        </tr>
                    </tfoot>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->

    <div class="wrapper-md" ng-show="is_edit">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{formtitle}}
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;" ng-hide="is_view == false">
                    <button type="button" class="btn btn-primary fa fa-print" ng-print print-element-id="printArea"  ng-show="is_view == true">&nbsp;Cetak BBM</button>
                </div>
            </div>

            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">
                    <div class="img-thumbnail">
                        <div class="col-md-6 col-sm-12">

                            <div class="form-group">
                                <label class="col-sm-3 control-label">NO BBM</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="form.no_bbm" ng-readonly="true" placeholder="Digenerate secara otomatis">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tanggal Transaksi</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" ng-readonly="is_view" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tgl_nota" is-open="opened1" ng-click="open1($event)"/>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar-o"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">No PO</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <ui-select on-select="getPo(form,$item)" ng-readonly="is_view" ng-model="form.po" theme="bootstrap">
                                            <ui-select-match>{{$select.selected.nota}}</ui-select-match>
                                            <ui-select-choices refresh="cariPo($select.search)" repeat="po in listPo">
                                                {{po.nota}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button ng-click="form.po = undefined" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">No WO</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <ui-select ng-model="form.wo" ng-readonly="is_view" theme="bootstrap">
                                            <ui-select-match>{{$select.selected.no_wo}}</ui-select-match>
                                            <ui-select-choices refresh="cariWo($select.search)" repeat="wo in listWo">
                                                {{wo.no_wo}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button ng-click="form.no_wo = undefined" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Supplier</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <input type="text" ng-readonly="true" ng-model="form.nm_supplier" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Pengirim</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <input type="text" ng-readonly="is_view" ng-model="form.pengirim" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Penerima</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <input type="text" ng-readonly="is_view" ng-model="form.penerima" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">No Surat Jalan</label>
                                <div class="col-sm-8">
                                    <div class="input-group" style="width:100%">
                                        <input type="text" ng-readonly="is_view" ng-model="form.surat_jalan" class="form-control">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <label class="col-sm-1 control-label" style="font-weight: bold">Detail BBM</label>
                    <!--{{listBarang}}-->
                    <table class="table table-bordered det-trans">
                        <thead>
                            <tr>
                                <th style="text-align: center; font-weight: bold;width:30%">Barang</th>
                                <th style="text-align: center; font-weight: bold;width: 25%">Keterangan</th>
                                <th style="text-align: center; font-weight: bold;width: 20%">Jml</th>
                                <th style="text-align: center; font-weight: bold;width:20%">Delivery</th>
                                <!--<th style="text-align: center; font-weight: bold;width:20%">No WO</th>-->
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="detail in detBbm">
                                <td>
                                    <div class="input-group" style="width:100%">
                                        <ui-select ng-readonly="is_view" ng-model="detail.barang" theme="bootstrap">
                                            <ui-select-match>{{$select.selected.kd_barang}} - {{$select.selected.nm_barang}}</ui-select-match>
                                            <ui-select-choices refresh="cariBarang($select.search)" repeat="barang in results">
                                                {{barang.kd_barang}} - {{barang.nm_barang}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button ng-click="detail.barang = undefined" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" ng-readonly="is_view" ng-model="detail.keterangan" class="form-control">
                                </td>
                                <td>
                                    <input type="text" ng-readonly="is_view" ng-pattern="/^[0-9]+$/" ng-model="detail.jumlah" class="form-control">
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-readonly="is_view" datepicker-popup="dd-MM-yyyy" ng-model="detail.tgl_terima" is-open="openedDet == $index" ng-change="setStatus()" ng-click="openDet($event, $index)"/>
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar-o"></i>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <button ng-disabled="is_view" ng-click="addDetail()" class="btn btn-success" ng-show="$index == 0"><i class="fa fa-arrows"></i></button>
                                    <button ng-disabled="is_view" ng-click="removeRow($index)" class="btn btn-danger" ng-show="$index > 0"><i class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div align="center">
                        <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                        <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, detBbm)">&nbsp;Simpan Perubahan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="printArea" ng-show="is_view">
        <style>
            .detail-barang td{
                border-top: 1px;
                border-left: 1px;
                border-bottom: 1px;
                border-right: 1px;
                border:1px;
                border-style:solid;
            }
        </style>
        <div style="margin-top: 0px">
            <table width="100%" class="no-border">
                <tr>
                    <td width="50%">
                        PT. KARYA TUGAS ANDA <br>
                        Sukorejo - Pasuruan
                    </td>
                    <td valign="top">
                        NO. DOC : FR-WHS-004-REV.00
                    </td>
                </tr>
            </table>
            <br>
            <center>
                <h4>*** BUKTI BARANG MASUK ***</h4>
            </center>
            <br>
            <center>
                FR-WHS-003.REV.00
            </center>
            <br>
            <div class="joke" border="1">
                <table class="detail-barang" border="1px" style="border-collapse: collapse;width:100%">
                    <tr>
                        <td style="border-bottom: 1px;width: 40%" colspan="2" border="1">
                            Tanggal : {{form.tgl_nota}}<br>
                            No. BBM : {{form.no_bbm}}<br>
                            No. PO : {{form.no_po}}<br>
                        </td>
                        <td style="border-top:none !important;border-bottom:none !important;"></td>
                        <td style="border:1px;width:55%" colspan="3">
                            Dari : {{form.nm_supplier}} - {{form.alamat_supplier}}           </td>
                    </tr>
                </table>
            </div>
            <br>
            <table border="1" class="detail-barang" style="border-collapse: collapse;width: 100%">
                <thead>
                    <tr>
                        <th style="text-align: center;">No</th>
                        <th style="text-align: center;">Nama Barang</th>
                        <th style="text-align: center;">Qty</th>
                        <th style="text-align: center;">Kode Barang</th>
                        <th style="text-align: center;" colspan="2">Keterangan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="detail in detBbm">
                        <td style="text-align: center;">{{$index + 1}}</td>
                        <td>{{detail.barang.nm_barang}}</td>
                        <td style="text-align: center;">{{detail.jumlah}}</td>
                        <td style="text-align: center;">{{detail.barang.kd_barang}}</td>
                        <td colspan="2">{{detail.keterangan}}</td>
                    </tr>

                </tbody>
            </table>
            <br>
            <table border="1" class="detail-barang" style="width:100%;border-collapse: collapse;">
                <tr>
                    <td colspan="2" rowspan="3" style="height: 100px;font-">Catatan : </td>
                    <td style="text-align: center;">PIMPINAN</td>
                    <td style="text-align: center;">INSPEKSI</td>
                    <td style="text-align: center;">ADM. GUDANG</td>
                    <td style="text-align: center;">DISERAHKAN</td>
                </tr>
                <tr>
                    <td style="height: 60px !important;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>TGL : </td>
                    <td>TGL : </td>
                    <td>TGL : </td>
                    <td>TGL : </td>
                </tr>
            </table>
            1. Supplier ; 2. Keuangan ; 3. Gudang


        </div>

    </div>
</div>
